*.jpg
*.png
*.mp4
*.avi
env/

wandb/

traced_model.pt

datasets/*
datasets/logs/*
datasets/post_process/*
datasets/post_process/exported/*
datasets/post_process/vids/*
datasets/training_datasets/*
datasets/training_datasets/instance_segmentation*
datasets/training_datasets/object_detection*
datasets/videos_input/*
datasets/videos_temporal_frames/*
datasets/videos_temporal_input/*

.idea/
traced_model.pt
__pycache__

utils/__pycache__/

weights/*
runs/

.idea/
